.container {
  max-width: 48rem;
  width: 100%;
  margin: 0 auto;
}

.search-input {
  padding: 16px;
  width: 100%;
  margin-top: 24px;
  background: inherit;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 24px;
}

.completion {
  font-size: 24px;
}
