/* You can add global styles to this file, and also import other style files */
@use "app/shared/variables";

*::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #FFFFFF;
}

html, body {
  height: 100%;
}

